<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
                </div>
        <div class="row" style="margin-top: 150px;">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="form">
                    <h1>Change Password</h1>
                    <p class="text-muted">Create a new password</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="password" autocomplete="password"
                        formControlName="password" required>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <button type="button" class="btn btn-primary px-4" (click)="change()">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.</p>
                    <button type="button" class="btn btn-primary active mt-3"
                      onclick="location.href = '#/UserRegister'">Register Now!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       </main>
  </div>